:root {
    --cor1: #3D6373;
    --cor2: #7297A6;
    --cor2opaco: #7297a637;
    --cor3: #012326;
    --cor4: #F28F38;
    --cor5: #F2B077;
    --preto: #070707;
    --branco: #ffffff;
    --box-shadow: 0 0 8px rgba(0, 0, 0, 0.322);
}